<div class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1>Mail App</h1>
    <div class="form-inline">
      <input class="form-control" type="text" placeholder="Search" />
      <button class="btn btn-primary" type="submit">
        Search
      </button>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="list-group" role="tablist">
          <a
            class="list-group-item list-group-item-action"
            routerLink="/inbox"
            routerLinkActive="active"
            role="tab"
            aria-controls="home"
            >Inbox</a
          >
          <a
            class="list-group-item list-group-item-action"
            routerLink="/drafts"
            routerLinkActive="active"
            aria-controls="profile"
            >Drafts</a
          >
        </div>
      </div>

      <div class="col-9">
        <content>
          <router-outlet></router-outlet>
        </content>

        <div>
          Popup:
          <router-outlet name="popup"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
